
  <form action="/create" method="POST" class="">
    <div class="mb-3">
      <label for="quizTitle" class="form-label fw-medium">Quiz Title</label>
      <input type="text" class="form-control" id="quizTitle" name="quizTitle" required>
    </div>
    
    <div class="mb-3">
      <button type="button" id="add-question" class="btn btn-outline-dark">Add Question</button>
    </div>
    
    <button type="submit" class="btn btn-dark">Save</button>
  </form>
