<div class="container-fluid d-flex flex-column flex-lg-row p-3 flex-wrap gap-3 border ">

  <div class="p-5 text-center bg-body-tertiary rounded-3 d-flex flex-column justify-content-center">
    
    <a href="/create" class="d-inline-flex flex-column align-items-center btn btn-outline-dark btn-lg px-4 rounded-pill">
      Create new quiz
    </a>
  </div>
  
    <% quizzes.forEach(quiz => { %>
      <div class="p-5 text-center bg-body-tertiary rounded-3 d-flex flex-column justify-content-center">
        
        <h1 class="text-body-emphasis fs-3"><%= quiz.title %></h1>
        
        <a href="/quiz/<%= quiz.id %>/question/1" class="btn btn-dark btn-lg px-4 rounded-pill" type="button">
          Take quiz
        </a>
        
      </div>
      
    <% }) %>

</div>